html,
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --ff: "Work Sans", sans-serif;
  --transition: .2s all ease-in-out;
  --c-primary: rgba(55, 57, 58, 0.9);
  --c-text-white: #fff;
  --c-border: #eee;
  --logo-color: #262626;
  --links-color: #000;
  --main-color: #8842f0;
  --services-color: #f9f1fe;
  --desc-color: #575757;
}

html {
  font-size: 1px;
}
@media (max-width: 576px) {
  html {
    font-size: 0.8px;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 0.7px;
  }
}

body {
  font-family: var(--ff);
  font-size: 16rem;
}

.container {
  max-width: calc(1170rem - 40rem);
  padding: 0 20rem;
  margin-inline: auto;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-family: var(--ff);
  border-radius: 50rem;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
}

* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d1d1d1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-left: -10px;
}

.col-5 {
  width: 20%;
  padding: 0 10px 10px;
}
@media (max-width: 576px) {
  .col-5 {
    width: 100%;
  }
}

.col-4 {
  width: 25%;
  padding: 0 10px 10px;
}
@media (max-width: 576px) {
  .col-4 {
    width: 100%;
  }
}

.col-3 {
  width: 33.33%;
  padding: 0 10px 10px;
}
@media (max-width: 576px) {
  .col-3 {
    width: 100%;
  }
}

.col-25 {
  width: 40%;
  padding: 0 10px 10px;
}
@media (max-width: 576px) {
  .col-25 {
    width: 100%;
  }
}

.col-2 {
  width: 50%;
  padding: 0 10px 10px;
}
@media (max-width: 576px) {
  .col-2 {
    width: 100%;
  }
}

.col-2m {
  width: 50%;
  padding: 0 10px 10px;
}

.col-23 {
  width: 66.66%;
  padding: 0 10px 10px;
}
@media (max-width: 576px) {
  .col-23 {
    width: 100%;
  }
}

.col-1 {
  width: 100%;
  padding: 0 10px 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40rem;
  gap: 8.75%;
}
@media (max-width: 992px) {
  .header {
    gap: 1%;
  }
}
@media (max-width: 576px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10rem;
  }
}
.header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40rem;
}
.header__logo {
  font-family: var(--ff);
  font-weight: 600;
  font-size: 24rem;
  color: var(--logo-color);
  max-width: 282rem;
}
@media (max-width: 576px) {
  .header__logo {
    text-align: center;
  }
}
.header__a {
  font-family: var(--ff);
  font-weight: 400;
  font-size: 16rem;
  color: var(--links-color);
  position: relative;
}
.header__a.is-active {
  color: var(--main-color);
}
.header__a:hover {
  color: var(--main-color);
}
.header__a:hover::before, .header__a.is-active::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__a::before {
  content: '';
  display: block;
  width: 74%;
  height: 1rem;
  position: absolute;
  left: 0;
  bottom: -3rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  background: var(--main-color);
}
@media (max-width: 992px) {
  .header__a {
    color: var(--c-text-white);
  }
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media (max-width: 992px) {
  .header__ul {
    z-index: 4;
    position: fixed;
    width: 70%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 0;
    background: #37393a;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
}
.header__ul._active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.header__ul .icon-close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: var(--c-text-white);
}

.icon-close, .icon-menu {
  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .icon-close, .icon-menu {
    display: inline-block;
  }
}

.header-form {
  border-radius: 50rem;
  background: var(--links-color);
  padding: 12rem 15rem 10rem 18rem;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 278rem;
  margin-inline: auto;
}
.header-form__input {
  width: 100%;
  background: transparent;
  border: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14rem;
  color: var(--c-border);
}
.header-form__input::-webkit-input-placeholder {
  color: var(--c-text-white);
}
.header-form__input:-ms-input-placeholder {
  color: var(--c-text-white);
}
.header-form__input::-ms-input-placeholder {
  color: var(--c-text-white);
}
.header-form__input::placeholder {
  color: var(--c-text-white);
}
.header-form__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--links-color);
  font-family: var(--ff);
  font-weight: 600;
  font-size: 20rem;
  color: var(--c-text-white);
}

.join {
  border-radius: 10rem;
  padding: 77rem 20rem 83rem 20rem;
  text-align: center;
  background: #1c1b1f;
}
.join__title {
  font-family: var(--ff);
  font-weight: 700;
  font-size: 36rem;
  color: #fff;
  margin-bottom: 47rem;
}

.join-form {
  border-radius: 50rem;
  background: #f9f1fe;
  padding: 10rem 31rem;
  padding-right: 14rem;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 717px;
  margin-inline: auto;
}
.join-form__input {
  width: 100%;
  background: transparent;
  border: 0;
  font-family: var(--ff);
  font-weight: 400;
  font-size: 16rem;
  color: #262626;
}
.join-form__input::-webkit-input-placeholder {
  color: #6c6c6c;
}
.join-form__input:-ms-input-placeholder {
  color: #6c6c6c;
}
.join-form__input::-ms-input-placeholder {
  color: #6c6c6c;
}
.join-form__input::placeholder {
  color: #6c6c6c;
}
.join-form__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #8842f0;
  padding: 10px 25px;
  font-family: var(--ff);
  font-weight: 600;
  font-size: 20rem;
  color: #fff;
}
@media (max-width: 576px) {
  .join-form__btn {
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .join-form__btn-text {
    display: none;
  }
}
.join-form__btn .material-icons {
  display: none;
}
@media (max-width: 576px) {
  .join-form__btn .material-icons {
    display: inline-block;
  }
}

.welcome {
  margin-top: 54px;
  margin-bottom: 111px;
}

.services {
  text-align: center;
}
.services__heading {
  text-align: center;
  font-weight: 700;
  font-size: 48rem;
  color: var(--logo-color);
  margin-bottom: 56rem;
}
@media (max-width: 992px) {
  .services__heading {
    margin-bottom: 40rem;
  }
}
.services__anagraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 111rem;
}
@media (max-width: 992px) {
  .services__anagraph {
    margin-bottom: 50rem;
  }
}
.services__description {
  text-align: center;
  font-weight: 400;
  font-size: 16rem;
  color: var(--logo-color);
}
.services__title {
  font-weight: 600;
  font-size: 24rem;
  color: var(--logo-color);
}
.services__desc {
  font-weight: 400;
  font-size: 16rem;
  text-align: center;
  color: var(--desc-color);
}
.services__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20rem;
  margin-bottom: 111rem;
}
@media (max-width: 992px) {
  .services__section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20rem;
  }
}
@media (max-width: 768px) {
  .services__section {
    grid-template-columns: auto;
    gap: 20rem;
  }
}

.get-in-touch {
  padding: 46rem 26rem;
  max-width: 370rem;
  border-radius: 15rem;
  background: var(--services-color);
}
.get-in-touch__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--logo-color);
  margin-bottom: 42.54rem;
}
.get-in-touch__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 17rem;
}
.get-in-touch__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 17rem;
}
.get-in-touch__button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6rem;
  background: var(--services-color);
}
.get-in-touch__button .name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 16rem;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main-color);
}
.get-in-touch__button-icon {
  color: var(--main-color);
}

.middle {
  background: var(--main-color);
  padding: 46rem 26rem;
  max-width: 370rem;
  border-radius: 15rem;
}
.middle__icon {
  color: var(--c-text-white);
  margin-bottom: 34rem;
}
.middle__title {
  margin-bottom: 33rem;
}
.middle__services-title {
  font-weight: 600;
  font-size: 24rem;
  color: var(--c-text-white);
}
.middle__desc {
  margin-bottom: 34rem;
}
.middle__services-desc {
  font-weight: 400;
  font-size: 16rem;
  text-align: center;
  color: var(--c-text-white);
}
.middle__button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6rem;
  background: var(--main-color);
}
.middle__button-name {
  font-weight: 600;
  font-size: 16rem;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--c-text-white);
}
.middle__button-icon {
  color: var(--c-text-white);
}

button {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.doctors__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 56rem;
}
.doctors__title {
  font-weight: 700;
  font-size: 48rem;
  color: var(--logo-color);
}
.doctors__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 111rem;
}
.doctors__desc {
  max-width: 837rem;
  font-weight: 400;
  font-size: 16rem;
  text-align: center;
  color: var(--logo-color);
}
.doctors__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 130rem;
}
.doctors__info {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30rem;
}
@media (max-width: 1200px) {
  .doctors__info {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 768px) {
  .doctors__info {
    grid-template-columns: auto;
  }
}

.doctors-information {
  border-radius: 20rem;
  max-width: 370rem;
  background: var(--services-color);
  padding: 44rem 38rem 33rem 39rem;
}
.doctors-information__icon {
  border-radius: 50%;
}
.doctors-information__name {
  font-weight: 600;
  font-size: 20rem;
  color: var(--logo-color);
  margin-bottom: 3rem;
}
.doctors-information__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 13rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25rem;
}
.doctors-information__desc {
  font-weight: 400;
  font-size: 16rem;
  color: var(--desc-color);
}
.doctors-information__info {
  font-weight: 400;
  font-size: 16rem;
  color: var(--desc-color);
  margin-bottom: 39rem;
}
.doctors-information__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.doctors-information__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  border-radius: 50rem;
  width: 283rem;
  height: 44rem;
  background: var(--main-color);
}
.doctors-information__btn-text {
  margin: 10rem 40rem;
  font-weight: 600;
  font-size: 20rem;
  color: var(--services-color);
}
.doctors-information .zubair {
  max-width: 250rem;
}
.doctors-information .zubair-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer {
  margin: 0;
  padding: 0;
  margin-top: 130rem;
  background: var(--services-color);
  padding-top: 106rem;
}
.footer__ending {
  max-width: 431rem;
}
.footer__title {
  font-weight: 600;
  font-size: 24rem;
  color: var(--logo-color);
  margin-bottom: 26rem;
}
.footer__desc {
  font-weight: 400;
  font-size: 16rem;
  color: var(--logo-color);
}
.footer__find-us {
  max-width: 285rem;
}
.footer__contacts {
  font-weight: 600;
  font-size: 20rem;
  color: var(--logo-color);
  margin-bottom: 9rem;
}
.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.footer__search {
  margin-bottom: 33rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16rem;
}
.footer__link {
  font-weight: 400;
  font-size: 16rem;
  color: var(--logo-color);
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.footer__link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: var(--main-color);
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (max-width: 1100px) {
  .footer__main {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30rem;
  }
}
@media (max-width: 576px) {
  .footer__main {
    grid-template-columns: auto;
    gap: 40rem;
  }
}
.footer__opening {
  max-width: 187rem;
}
.footer__opening-title {
  font-weight: 600;
  font-size: 20rem;
  color: var(--logo-color);
  margin-bottom: 17rem;
}

.hours {
  font-weight: 400;
  font-size: 16rem;
  color: var(--logo-color);
  margin-bottom: 11rem;
}
